.clients-section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }
  .clients-section__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
     font-size: 36px;
     margin-bottom: 50px;
    }

  }
  .clients__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

   
  }
  .clients__link {
    width: 100%;
    height: 100%;
    @extend %flex-align;
    justify-content: center;
    fill: var(--icon-color);
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border-color cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--icon-color);
    
    &:hover,
    &:focus {
    color: var(--second-logo-color);
    border-color: var(--second-logo-color);
    }
  }
  .clients__items {
    // width: 210px;
    height: 92px;
    width: calc((100% - 30px)/2);
   
     
    @media screen and (min-width: 768px) {
      width: calc((100% - 60px)/3);
      
     }

     @media screen and (min-width: 1200px) {
      width: 170px;
      
    }
   
  }
  
  .clients__icons {
    fill: currentColor;
  }