.qualities { 
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (mix-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }
  
  .hide__title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip:rect(0000);
    overflow: hidden;
  }
  .qualities__icon {
    width: 100%;
    height: 120px;
    background-color: var(--button-page-background);
    margin-bottom: 30px;
    justify-content: center;
    @extend %flex-align;

    @media screen and (mix-width: 768px) {
      width: 354px;
    }
  }

  .qualities__images {
  width: 70px;
  height: 70px;
  }
  
  .qualities__list {
  
    @media screen and (min-width: 768px) {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      width: 100%;
    }
   
    & .qualities__item:not(:last-child) {
      @media screen and (max-width: 767px) {
         margin-bottom: 30px;  
     }

    }
   

  }
  .qualities__item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px)/2);
   
  }
   
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px)/4);
  }
  }
  
  .qualities__title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-header-color);
    margin-bottom: 10px;
  }
  .qualities__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
  }