    .work__section {
      display: none;
    padding-bottom: 94px;

    @media screen and (min-width: 1200px) {
      display: flex;
    }
    }
    
    .work__title {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.17;
      text-align: center;
      letter-spacing: 0.03em;
      color: var(--second-header-color);
      margin-bottom: 50px;
    }
   
    .work__list {
      display: flex;
      flex-basis: calc(100% - 60px)/3;
      & .work__item:not(:last-child) {
        margin-right: 30px;
      }
    }
    
    .work__text {
      position: absolute;
      bottom: 0;
      padding-top: 27px;
      padding-bottom: 27px;
      width: 100%;
    
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--primary-header-color);
      background-color: rgba(47, 48, 58, 0.8);;
    }
    .work__item {
      position: relative;
    }