.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-color);
  }
  
  span.logo-label {
    color: var(--second-logo-color);
  }
  .logo--dark-color {
    color: #000000;
  }
  .logo--light-color {
    color: #FFFFFF;
  }