:root {
    --primary-header-color: #ffffff;
    --second-header-color: #212121;
    --second-text-color: #757575;
    --second-logo-color: #2196f3;
    --logo-color: #000000;
    --page-second-background: #2f303a;
    --button-page-background: #f5f4fa;
    --second-background-color: #188ce8;
    --link-rgba-color: rgba(255, 255, 255, 0.6);
    --border-img-color: #EEEEEE;
    --icon-color: #AFB1B8;
  
  }
  body {
    color: #212121;
    font-family: Roboto, sans-serif;
  }